table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: smaller;
}

tr {
    background-color: rgba(252, 252, 252, 0.45);
}
